<!DOCTYPE html>

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/home.js" defer></script>
        <link rel="stylesheet" href="/static/home.css"/>
    </head>

    <body>
        <div><button id="single">Single Player</button></div>
        <br>
        <div><button id="local">Local Multiplayer</button></div>
        <br>
        <div><button id="distant">Play Over WIFI</button></div>
    </body>
</html>