<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/local.js" defer></script>
        <link rel="stylesheet" href="/static/tictactoe.css"/>
    </head>

    <body>
        <h2 id="home">Home</h2>
        <h1 id="display"></h1>
        <div id="gridDiv">
            <div class="item1"><button id="b0"></button></div>
            <div class="item2"><button id="b1"></button></div>
            <div class="item3"><button id="b2"></button></div>
            <div class="item4"><button id="b3"></button></div>
            <div class="item5"><button id="b4"></button></div>
            <div class="item6"><button id="b5"></button></div>
            <div class="item7"><button id="b6"></button></div>
            <div class="item8"><button id="b7"></button></div>
            <div class="item9"><button id="b8"></button></div>
        </div>
        <div id="resetDiv"><button id="reset"></button></div>
    </body>
</html>